<html>
<head>
</head>
<body>
  <form action='/dispsnack'>
    What is the snack? <input type="text" name="kind" >
  </br>
    How many are there? <input type="text" name="quantity">
  </br>
    What would you rate it? <input type="text" name="rating">
  </br>
    How many calories are in it? <input type="text" name="calories">
    <input type="submit">
  </form>
  <h1>{{kind}}</h1>
  <p>Quantity: {{quantity}}</p>
  <p>Ratings: {{rating}}</p>
  <p>Calories: {{calories}}</p>
  </br>
  </br>
</body>
</html>
